@model SkillBridge.Models.InteractionRatingViewModel

<h3>Rate your experience learning @Model.SkillName from @Model.FromUserName</h3>

<form id="rating-form">
    <label>Rating (1-10):</label>
    <input type="number" name="RatingValue" min="1" max="10" required />
    <br />
    <label>Comment (optional):</label>
    <textarea name="Comment" maxlength="250"></textarea>
    <br />
    <button type="submit" class="btn btn-primary">Submit Rating</button>
</form>

<div id="rating-result"></div>

<script>
    $("#rating-form").submit(function (e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
            url: "@Url.Action("SubmitRating","Interactions")",
            type: "POST",
            data: form.serialize(),
            success: function (response) {
                if (response.success) {
                    $("#rating-result").html("<span style='color:green'>Rating submitted successfully!</span>");
                    form.remove();
                } else {
                    var errors = response.errors.map(err => err.ErrorMessage).join("<br>");
                    $("#rating-result").html("<span style='color:red'>" + errors + "</span>");
                }
            }
        });
    });
</script>
